<h1 style="text-align: center;">{{title}}</h1>

<div
  class="container"
  style="display: flex; gap: 15px; flex-wrap: wrap; margin-top: 20px;"
>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <img
        src="https://pedsovet.org/v3/upload/ckeditor/79/images/2025-01-13/1736768085_photo_2024-12-18_09-09-22%20(2).jpg"
        class="card-img-top"
        alt="..."
      />
      <ul class="list-group list-group-flush" id="list-authors">

      </ul>

    </div>
  </div>
</div>
<script src="./js/author.js"></script>

<script>
  getAuthors()
</script>